*.iml
.gradle/
.DS_Store
/app/libs/
/captures
/release
/nativetemplates/build
.externalNativeBuild
.cxx
/debug
/caches/
/daemon/
/wrapper/
.idea/
/app/release/
/app/build/
.gradle/
local.properties
*.apk
*.jar